# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

# Infra
/lingui.config.ts @yeager-eren @nikaaru
/.github @yeager-eren @nikaaru @arlert-armin
/scripts @yeager-eren @nikaaru @arlert-armin

# Docs
/docs @nikaaru @Ikari-Shinji-re @arlert-armin

# Examples
/examples @nikaaru @Ikari-Shinji-re @arlert-armin

# Patches
/patches

# Test utils
/test-utils @nikaaru @yeager-eren

# Translations
/translations @nikaaru @Ikari-Shinji-re

# Queue manager
/queue-manager @yeager-eren @RyukTheCoder

# Logging
/logging @yeager-eren

# Signers
/signers @yeager-eren @RyukTheCoder @arlert-armin

# Wallets
/wallets @yeager-eren @RyukTheCoder @arlert-armin @llawliet-l-l

# Widget
/widget/app @nikaaru @Ikari-Shinji-re
/widget/charts @nikaaru @Ikari-Shinji-re
/widget/embedded @nikaaru @Ikari-Shinji-re @RyukTheCoder
/widget/iframe
/widget/playground @arlert-armin @RyukTheCoder
/widget/ui @nikaaru @Ikari-Shinji-re
