@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  font-family: 'Roboto';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #444;
}
::-webkit-scrollbar-thumb {
  background: #656565;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}


#app{
  height: 100vh;
}
#pageContainer{

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}