name: Deploy
on:
  workflow_dispatch:

  workflow_call:
    
jobs:
  deploy-it:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT }}
          
      - name: Prepare
        uses: ./.github/actions/prepare
        
      - name: Build Clients
        run: node ./scripts/build-clients/command.mjs

