name: Publish
on:
  push:
    branches:
      - "main"
      - "next"
  pull_request:
    types:
      - closed
    branches:
      - "main"
      - "next"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: "14"
          cache: "yarn"

      - name: Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Auth
        run: |
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc
          npm whoami
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Install packages
        run: yarn install --frozen-lockfile

      - name: Build packages
        run: yarn build:npm

      - name: Versioning (Prerelease)
        if: github.ref == 'refs/heads/next' || github.event.pull_request.base.ref == 'next'
        run: npx lerna version --conventional-prerelease --yes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Versioning (Production)
        if: github.ref == 'refs/heads/main' || github.event.pull_request.base.ref == 'main'
        run: npx lerna version --conventional-graduate --yes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish
        run: npx lerna publish from-git --yes
