name: Publish
on:
  push:
    branches:
      - main
      - next

jobs:
  localization:
    uses: ./.github/workflows/crowdin.yml
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }} 
      CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }} 
      CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }} 

  publish:
    runs-on: ubuntu-latest
    needs:
      - localization
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Prepare
        uses: ./.github/actions/prepare
        with:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }} 

      - name: Build, Version & Publish packages
        run: yarn run publish
        env:
          REF: ${{ github.ref }}
          BASE_REF: ${{ github.event.pull_request.base.ref }}
          GH_TOKEN: ${{ github.token }}
