name: Release
on:
  workflow_dispatch:

jobs:
  localization:
    uses: ./.github/workflows/crowdin.yml
    secrets:
      CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
      CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
      PAT: ${{ secrets.PAT }}
    with:
      create_pull_request: true

  release:
    runs-on: ubuntu-latest
    needs:
      - localization
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT }}

      - name: Prepare
        uses: ./.github/actions/prepare
        with:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Release Production
        run: yarn run release-prod
        env:
          REF: ${{ github.ref }}
          GH_TOKEN: ${{ github.token }}
